<p-growl [value]="msgs" [life]="3000" [immutable]="false"></p-growl>
<p-blockUI [blocked]="blocked"></p-blockUI>

<div class="ui-g-12" style="margin: 10px 0">
    <div class="banner">
        <div class="container titulo">
            <h1 class="logo-font">Problema de Mix de Produção</h1>

        </div>
    </div>

    <div class="ui-g-12 ui-md-4 ui-input-container">
        <div class="labeled-dropdown">
            <label>Objetivo da função</label>
            <p-dropdown name="objetivo" [options]="objetivosOptions" [autoWidth]="false" [(ngModel)]="funcaoObjetiva.objetivo" #objetivo="ngModel" required appendTo="body"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4 ui-input-container">
        <label>Função</label>
        <div class="ui-g-12 ui-md-12 ui-input-container">
            <input class="ui-g-12 ui-md-3" name="x" type="text" placeholder="0" [(ngModel)]="funcaoObjetiva.x1" />
            <input class="ui-g-12 ui-md-3" name="y" type="text" placeholder="0" [(ngModel)]="funcaoObjetiva.x2" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-4 ui-input-container">
        <label>Restrições</label>
        <div class="ui-g-12 ui-md-12 ui-input-container">
            <input class="ui-g-12 ui-md-3" name="x" type="text" placeholder="0" [(ngModel)]="restricao1.x1" />
            <input class="ui-g-12 ui-md-3" name="y" type="text" placeholder="0" [(ngModel)]="restricao1.x2" />
            <p-dropdown name="tipoRestricao" [options]="tipoRestricaoOptions" [autoWidth]="false" [(ngModel)]="restricao1.tipoRestricao" #tipoRestricao1="ngModel" required appendTo="body"></p-dropdown>
            <input class="ui-g-12 ui-md-3" name="resposta" type="text" placeholder="0" [(ngModel)]="restricao1.result" />
        </div>

        <div class="ui-g-12 ui-md-12 ui-input-container">
            <input class="ui-g-12 ui-md-3" name="x" type="text" placeholder="0" [(ngModel)]="restricao2.x1" />
            <input class="ui-g-12 ui-md-3" name="y" type="text" placeholder="0" [(ngModel)]="restricao2.x2" />
            <p-dropdown name="tipoRestricao" [options]="tipoRestricaoOptions" [autoWidth]="false" [(ngModel)]="restricao2.tipoRestricao" #tipoRestricao2="ngModel" required appendTo="body"></p-dropdown>
            <input class="ui-g-12 ui-md-3" name="resposta" type="text" placeholder="0" [(ngModel)]="restricao2.result" />
        </div>

        <div class="ui-g-12 ui-md-12 ui-input-container ">
            <input class="ui-g-12 ui-md-3" name="x" type="text" placeholder="0" [(ngModel)]="restricao3.x1" />
            <input class="ui-g-12 ui-md-3" name="y" type="text" placeholder="0" [(ngModel)]="restricao3.x2" />
            <p-dropdown name="tipoRestricao" [options]="tipoRestricaoOptions" [autoWidth]="false" [(ngModel)]="restricao3.tipoRestricao" #tipoRestricao3="ngModel" required appendTo="body"></p-dropdown>
            <input class="ui-g-12 ui-md-3" name="resposta" type="text" placeholder="0" [(ngModel)]="restricao3.result" />
        </div>
    </div>
</div>

<div class="ui-g-12">
    <button pButton type="button" label="Calcular" icon="fa-check" class="auto-width ui-button" (click)="calcular()"></button>
</div>