/* You can add global styles to this file, and also import other style files */

@import 'assets/sass/steps';
@import 'node_modules/ngx-toastr/toastr';

.labeled-dropdown {
    position: relative;
}

.labeled-dropdown:hover p-dropdown>div, .labeled-dropdown:hover p-multiSelect>div   {
    z-index: 2;
}

.float-label {
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    color: #999;
}

.labeled-dropdown .float-label {
    top: 1px;
    left: 5px;
    position: absolute;
    color: #999;
}

.labeled-dropdown.filled .float-label {
    top: -20px;
    font-size: 12px;
    color: #38789c;
}

.labeled-textarea .float-label {
    top: 1px;
    left: 5px;
    position: absolute;
    color: #999;
}

.labeled-textarea.filled .float-label {
    top: -20px;
    font-size: 12px;
    color: #3e464c;
}

.ui-dropdown-open ~ .float-label,
textarea:focus ~ .float-label,
textarea.ui-state-filled ~ .float-label {
    top: -20px;
    font-size: 12px;
    color: #3e464c;
}

body .ui-button.ui-button-secondary .fa,
body .ui-datepicker-buttonpane>button .fa {
    color: #373a3c;
}

body .ui-button.ui-button-secondary:enabled:hover,
body .ui-button.ui-button-secondary:focus {
    background-color: #f2f2f2;
}

body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary.ui-state-default,
body .ui-button.ui-button-primary.ui-state-default {
    background-color: #87b87f;
    border-color: #87b87f;
    color: #FFF;
}

body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary.ui-state-hover,
body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary:enabled:hover,
body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary.ui-state-active,
body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary:active,
body .ui-button.ui-button-primary.ui-state-hover,
body .ui-button.ui-button-primary:enabled:hover,
body .ui-button.ui-button-primary.ui-state-active,
body .ui-button.ui-button-primary:active {
    background-color: #629b58;
}

body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary:hover:focus,
body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary:focus,
body .ui-dialog .ui-dialog-buttonpane .ui-button.ui-button-primary.ui-state-focus,
body .ui-button.ui-button-primary:hover:focus,
body .ui-button.ui-button-primary:focus,
body .ui-button.ui-button-primary.ui-state-focus {
    background-color: #b1d1ac;
}

@media screen and (min-width: 40em) {
    .auto-width {
        width: auto !important;
        margin: 5px;
    }
    div .auto-width:first-child {
        margin: 5px 5px 5px 0px;
    }
    div .auto-width:last-child {
        margin: 5px 0px 5px 5px;
    }
}

@media screen and (max-width: 40em) {
    .auto-width {
        margin: 5px 0;
    }
}

.end-buttons,
.center-buttons,
.space-between,
.flex-container,
.space-around {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.flex {
    flex: 1;
}

.center-buttons {
    justify-content: center;
    padding: 20px 0;
}

.end-buttons {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-between:after,
.space-around:after {
    content: none;
}

.space-around {
    justify-content: space-around;
}

.ui-input-container>.ui-messages-error {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    margin: -5px 0px 0px;
    color: #e62a10;
    font-size: .75em;
}

@media screen and (max-width: 1360px) {
    .div-label-menor .md-inputfield p-inputMask+label,
    .div-label-menor .md-inputfield input+label {
        font-size: 11px
    }
    .div-label-menor .md-inputfield p-inputMask.ui-state-default+label,
    .div-label-menor .md-inputfield input.ui-state-default+label {
        font-size: 11px
    }
}
@media screen and (max-width: 1024px) {
    .hidden-small {
        display: none;
    }
    .layout-container .topbar .topbar-left {
        width: 220px;
        padding-left: 50px;
    }
    *.visible-small {
        display: block!important;
    }
    .layout-container .topbar .topbar-right .topbar-items > li > a:hover {
        background-color: transparent;
    }
    .layout-container .topbar .topbar-right .topbar-items {
        width: auto;
    }
    .layout-container .topbar-items > li {
        float: right;
        position: relative;
    }
    .layout-container .topbar-items > li.help-menu span.menu-label {
        padding-left: 0!important;
        margin-right: 10px;
        line-height: 103px!important;
    }
    .layout-container .topbar-right .ultima-menu li a {
        background-color: #FFF;
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
    }
    p-steps {
        max-width: 100%;
        overflow: auto;
        display: block;
        margin-bottom: 30px;
    }
    p-steps .steps-custom {
        min-width: 1000px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.visible-small {
    display: none;
}

// @media screen and (min-width: 1600px) {
//     .div-label-menor .md-inputfield p-inputMask+label,
//     .div-label-menor .md-inputfield input+label {
//         font-size: 12px
//     }
//     .div-label-menor .md-inputfield p-inputMask.ui-state-default+label,
//     .div-label-menor .md-inputfield input.ui-state-default+label {
//         font-size: 12px
//     }
// }
.ui-btn-container button {
    margin: 0 5px;
}

.layout-container .footer {
    padding: 20px 0 0 0;
}

.custom-modal-footer {
    border-top: 1px solid #bdbdbd;
    padding: 15px;
    margin: 0 -15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FFF;
}

.ui-dropdown-item-empty span {
    color: transparent;
}

.main-title {
    display: inline-block;
    color: #FFF;
}

.main-title .title {
    margin: 5px 0 2px;
    font-size: 1.3em;
}

.main-title .subtitle {
    margin: 0 0 5px;
    font-weight: 100;
    font-size: 1.2em;
}

.logo {
    margin: 0 10px;
  }

  .impressao-estudo-titulo-grupo, .impressao-concessao-titulo-grupo{
      border-bottom: solid 1px #000;
      padding: 0px;
  }
  .impressao-estudo-titulo-grupo h3, .impressao-concessao-titulo-grupo h3{
    height: 10px;
  }

  #impressao-estudo, #impressao-concessao{
      background: #fff;
      padding: 10px;
  }
  #impressao-estudo span, #impressao-concessao span{
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
  }
  #impressao-estudo label{
    font-weight: bold;
  }
  .text-right{
      text-align: right;
  }
  .text-center{
    text-align: center;
}

  #impressao-estudo .subtitulo, #impressao-concessao .subtitulo{
      color: #A9A9A9;
      border-bottom: 1px solid #A9A9A9;
  }

  #impressao-estudo .label-normal label, #impressao-concessao .label-normal label{
    font-weight: normal;
  }

  .topbar-print{
      display: none;
  }
  .footer-print{
    display: none;
}

.ui-steps ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

.ui-steps.ui-steps-readonly .ui-steps-item {
    flex: 1;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    width: 100%;
}



@media print { 
    #header, #footer, #nav, .topbar, .footer { display: none !important; } 
    .topbar-print, .footer-print{
        display: inline;
    }
    
    .logo-print{
        max-width: 80px;
    }
    
   }

.dialog-over-height {
    max-height: 700px;
}

.dialog-over-height .ui-dialog {
    top: 10%!important;
}

.dialog-over-height .ui-dialog-footer {
    display: none;
}

.dialog-over-height .ui-dialog-content {
    max-height: 500px;
    overflow: hidden;
}

.dialog-over-height .overflowing-content, .dialog-over-height .overflowing-content-400 {
    max-height: 410px;
    overflow: auto;
    margin-bottom: 80px;
    margin-right: -10px;
    padding-right: 10px;
    padding-top: 4px;
}

.dialog-over-height .overflowing-content-400 {
    max-height: 400px;
}

body .ui-button.ui-button-icon-only.small-icon-button {
    background: none!important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #38789c;
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 0 5px;
}

body .ui-button.ui-button-icon-only.small-icon-button .ui-button-icon-left {
    color: #38789c;
}

body .ui-button.small-icon-button.ui-button-success .ui-button-icon-left {
    color: #5cb85c;
}

body .ui-button.small-icon-button.ui-button-danger .ui-button-icon-left {
    color: #d9534f;
}

.fake-fieldset {
    border: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
}

body *[hidden] {
    display: none;
}


td{
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

html:last-child {
    page-break-after: auto;
}


body .md-inputfield label {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

input:required ~ label:after,
textarea:required ~ label:after,
p-dropdown[required] ~ label:after,
p-dropdown[ng-reflect-required="true"] ~ label:after,
p-calendar[required] ~ label:after,
p-calendar[ng-reflect-required="true"] ~ label:after,
p-inputmask[required] ~ label:after,
p-inputmask[ng-reflect-required="true"] ~ label:after {
    content: ' *';
}

.ui-cell-data {
    word-wrap: break-word;

}
body .ui-dropdown-panel {
    max-width: 300px;
}

.layout-container .topbar .topbar-right {
    padding: 0;
    height: 100%;
}
.layout-container .topbar-items {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}
.layout-container .topbar-items > li.user-info {
    height: 100%;
    border-left: 8px solid #FFF100;
    padding-left: 10px;
    background-color: #107635;
    min-width: 150px;
}
.layout-container .topbar-items > li.user-info:hover {
    background-color: #16A34B;
}
.layout-container .topbar-items > li > a {
    height: 100%;
}
.layout-container .topbar-items > li.user-info > a {
    line-height: 15px;
    padding-top: 15px;
}
.layout-container .topbar-items > li > a > h5,
.layout-container .topbar-items > li > a > h6 {
    font-weight: 100;
    margin: 0;
    color: #FFF;
}
.layout-container .topbar-items > li > a i {
    vertical-align: middle;
}
.layout-container .topbar-items > li > ul {
    top: 75px;
    right: 0;
}
.layout-container .topbar-items > li.help-menu > a {
    background: #39789c url('./assets/layout/images/help.png');
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 75px;
}
.layout-container .topbar-items > li.help-menu span.menu-label {
    opacity: 0;
    color: #FFF;
    line-height: 133px;
    font-size: .8em;
    padding-left: 14px;
}
.layout-container .topbar-items > li.help-menu:hover span.menu-label {
    opacity: 1;
}

.ui-message-info {
    border: none;
    font-size: .8em;
}
.ui-message-info a, .custom-link {
    text-decoration: none;
    color: #24a4ec;
}

.large-table {
    max-width: 100%;
}
.large-table .ui-datatable {
    overflow: auto;
}
.large-table .ui-datatable-tablewrapper {
    min-width: 1500px;
}
a.disabled-link {
    color: #8a8a8a;
    cursor: not-allowed;
}

.topbar-left #menu-button {
    width: 50px;
    height: 100%;
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 24px;
}

.float-left {
    float: left;
}

// Overriding button danger iteractions
body .ui-button.ui-button-danger:enabled:hover, 
body .ui-button.ui-button-danger:focus, 
body .ui-splitbutton.ui-button-danger 
body .ui-button:enabled:hover, 
body .ui-splitbutton.ui-button-danger .ui-button:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}

.cell-icon {
    vertical-align: bottom;
}
.ui-icon-success {
    color: #5cb85c;
}
.ui-icon-danger {
    color: #d9534f;
}
.header-filtro-licencas-ambientais{
    font-size: 0.8em !important;
}

.labeled-dropdown .ui-multiselect .ui-multiselect-trigger {
    top: -1.5em;
}

.labeled-dropdown.filled .ui-multiselect .ui-multiselect-trigger {
    top: 0.2em !important;
}

.labeled-multiselect .float-label {
    top: -5px !important;
}

.labeled-multiselect.filled .float-label {
    top: -20px !important;
}