$primaryColor: #38789c;
$primaryDarkColor: #1b6aaa;
$primaryLightColor: #a1ceeb;
$accentColor: #87b87f;
$accentDarkColor: #629b58;
$accentLightColor: #b1d1ac;
$accentTextColor: #e8e8e8;
$darkMenuBgColor: #e8e8e8;
$darkMenuHoverColor: #e8e8e8;
$darkMenuRouterLinkActiveColor: #ececec;
$lightMenuRouterLinkActiveColor: #38789c;
$horizontalLightMenuRouterLinkActiveColor: #ececec;

@import '../../sass/layout/_layout';