<div class="topbar clearfix">
    <div class="topbar-left">
        <a id="menu-button" href="#" class="visible-small" (click)="app.onMenuButtonClick($event)">
            <i class="material-icons">menu</i>
        </a>
        <div class="main-title">
            <h2 class="title">
                <h3 class="subtitle">Simplex
                    <span class="hidden-small"> - Otimização de Sistemas Computacionais</span>
                </h3>
            </h2>
        </div>
    </div>

    <div class="topbar-right">

        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
            <i class="material-icons">arrow_drop_down_circle</i>
        </a>

    </div>
</div>
<div class="topbar-print">
    <div class="ui-g">
        <div class="ui-g-11">
            <h3 class="text-center"> Otimização de Sistemas Computacionais</h3>
        </div>
    </div>
</div>